<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/create-auction">Create Auction</a></li>
    <li><a href="/add-bike">Add Bike</a></li>
    <li><a href="/start-auction">Start Auction</a></li>
    <li><a href="/close-auction">Close Auction</a></li>
  </ul>
</nav>
